.wholePage{
    height: 100vh;
    background: #F0E9E9;
    
}

.MainContainer {
    height: 44px;
    width: 400px;
    display: flex;

    background: #FF4949;
    color: white;

    justify-content: center;
}

.Title{
   height: 30px;
   width: 150px;  
   font-family: Poppins;
   font-weight: 200px;
   font-size:17px ;
   color: #FFFFFF;

}

   .Hotel{
    display: flex;
    margin-left: 44px;
    margin-top: 20px;
    font-family: Poppins;
   font-weight: 200px;
   font-size:15px ; 
    color: #FF4949;
    border-bottom: #FF4949;
    min-width:150px;  
} 
.Morning{
    width: 80px;
    height: 70px;
    margin-top: 17px;
    margin-left: 20px;
    border-radius: 2px;
    border: 1px solid  #FF8D29;
    display: flex;
    justify-content: row;
    flex-direction: column;
    /* padding-top: 20px; */
}

.MainContainer{
    display: flex;
    justify-content: row;
    
    flex-direction: column;
}