.wholPage {
  height: 100vh; 
  width: 100%;
  background: #F0E9E9;
}

.AppBar {
 height: 65px; 
  display: flex;
  flex-direction: column;
  background: #4682A9;
  align-items: center;
  justify-content: center;
}

.ApText {
  font-size: 15px;
  opacity: 0.8;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.lastBlock {
  display: flex;
  justify-content: center;
  color: #00008B;
}

.HotelName {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
  margin-top: 25px;
}

.Hotel {
  display: flex;
  margin-left: 24px;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400px;
  font-size: 15px;
  color: #4682A9;
}

.Line {
  height: 1px;
  background-color: #4682A9;
  margin-left: 22px;
  margin-right: 22px;
}

.Morning {
  width: 195px;
  height: 140px; 
  margin-top: 17px;
  margin-left: 20px; 
  border-radius: 8px;
  border: 2px solid #C58940;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  color: black;
  margin-right: 20px;
  column-gap: 40px;
  /* gap: 40px; */
  /* flex-wrap: wrap; */
}

.Text {
  display: inline-block;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  background-color: #00000000;
  font-family: 'Poppins', sans-serif;
}
.ImageTag {
  height: 70px;
  width: 80%;
}
.Moods {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  cursor: pointer;
justify-content: center;
}

.MorningRow {
  display: flex; 
  margin-right: 5px;
  column-gap: 10px;

}